body{
    color: white;
}
.job-card {
    background-color: #c6c6c6;
    padding: 16px;
    margin: 10px 0;
    border-radius: 8px;
    color: #000000;
}
.new-job, .posted-jobs{
    font-size: 30px;
    display: inline;
}
.add-new-job{
    cursor: pointer;
    background-color: #303030;
    width: 80px;
}
.interview{
    background-color: green;
    border: none;
    color: white;
    padding: 4px;
    margin-right: 8px;
}
.reject{
    background-color: rgb(163, 0, 0);
    border: none;
    color: white;
    padding: 4px;
}