body{
    background-color: rgb(30, 30, 30);
}
.navbar-logo{
    width: 30px;
}
.site-title{
    color: white;
    margin: 0;
}
.navbar-left{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
.navbar-right{
    display: flex;
    flex-direction: row;
    margin-left: 82%;
    .student-login{
        margin-right: 14px;
    }
    .student-login, .recruiter-login{
        background-color: rgb(30, 30, 30);
        color: white;
        border: none;
        cursor: pointer;
    }
    .student-login:hover{
        color: red;
    }
    .recruiter-login:hover{
        color: red;
    }
}